h3.card-title {
    margin-bottom: 0 !important;
}

.timesheet_create_tit h2 {
    color: #009ada;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.timesheet_color {
    color: #009ada;
}
#custom-tabs-three-tab li {
    font-size: 13px !important;
    -webkit-box-shadow: 0px 0px 5px 3px rgb(245 245 245);
    -moz-box-shadow: 0px 0px 5px 3px rgba(245, 245, 245, 1);
    box-shadow: 0px 0px 5px 3px rgb(245 245 245);
    width: 30%;
    border-bottom: 2px solid #009ada;
    text-align: center;
}
